
version: '3'
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: bpmn
      POSTGRES_PASSWORD: 123456
      PGPASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      # - ./project-dump/:/var/www/html
      - ./postgres-database:/var/lib/postgresql/data
    
  djangoapp:
    build: .
    command: >
      sh -c " python3 manage.py makemigrations &&
              python3 manage.py migrate &&
              python3 manage.py runserver 0.0.0.0:3000"
    volumes:
      - .:/code # for development only
    ports:
      - "3000:3000"
    depends_on:
      - db
    stdin_open: true
    tty: true
