<!doctype html>

{% load pwa %}
{% load static %}
{% load sass_tags %}
{% load fontawesome_5 %}

<html lang="pt">
  <head>
    {% progressive_web_app_meta %}
    {% fontawesome_5_static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gerenciador de Mídias Sociais" />
    <title>BPMN - Business Process Management Notation</title>
    <link href="{% sass_src 'bpmn/css/styles.scss' %}" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="theme-color" content="#536878">
    <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'bpmn/imagens/favicon.ico' %}" type="image/x-icon" />
    <script src="{% static 'bpmn/js/general.js' %}"></script>
  </head>
  <body>
    <div class="app app-dashboard">
      <sidenav id="mySidenav" class="sidenav">
        <span class="closebtn" onClick={closeNav()}><i class='material-icons'>chevron_left</i></span>
        <div class="content">
          {% if user.is_authenticated %}
            <p class="login-link" id="panel-link"><a href="{% url 'dashboard' %}" class="user-link">{% fa5_icon 'grip-horizontal' 'fas' %} Painel de Controle</a></p>
            <p class="login-link" id="logout-link"><a href="{% url 'logout' %}" class="user-link">{% fa5_icon 'sign-out-alt' 'fas' %} Sair</a></p>
          {% else %}
            <p class="login-link"><a href="{% url 'login' %}" class="user-link">{% fa5_icon 'sign-in-alt' 'fas' %} Entrar</a></p>
          {% endif %}
        </div>
      </sidenav>
      <header>
        <script>
          function openNav() {
              var sidenav = document.getElementById("mySidenav");
              sidenav.style.display = "block";
              sidenav.style.transform = "translateX(0px)";
              sidenav.classList.add("addShadow");
              //document.getElementById("opensidenav").style.visibility = "hidden";
          }
          function closeNav() {
              var sidenav = document.getElementById("mySidenav");
              sidenav.style.transform = "translateX(-70vw)";
              sidenav.style.display = "block";
              sidenav.classList.remove("addShadow");
              //document.getElementById("opensidenav").style.visibility = "visible";
          }
          $( document ).ready(function() {
            var today = new Date()
            $("#year").text(today.getFullYear())
          })
        </script>
      </header>
      <div class="app-header">
        <span id="opensidenav" onclick="openNav()">&#9776;</span>
        <a href="{% url 'dashboard' %}"><img src="{% static 'bpmn/imagens/S-SMMS.png' %}" class="app-logo" alt="logo"></a>
      </div>
      <div class="app-content">
        {% block content %}{% endblock %}
      </div>
      <footer class="footer">
        <h4><span id="year">2020</span> CIC</h4>
      </footer>
    </div>
  </body>
</html>