{% extends "accounts/dashboard.html" %}

{% block dashboard_content %}
  <div class="change-password">
    <div class="login-page">
      <h3>Alteração de senha</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <div>
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
          <br>
        {% endfor %}
        <div>
          <button class="link" type="submit">Alterar Senha</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}