{% extends "accounts/dashboard.html" %}

{% block dashboard_content %}
  <center><h1>Grupos</h1></center>
  <div class="news-list">
    <a class="link" href="{% url 'new_group' %}"><b>Novo grupo</b></a>
    <hr>
    <ul>
      {% for group in groups %}
        <li class="news-management">
           <a class="link-outline" href="{% url 'update_group' group.id %}"><b>Editar</b></a>
           <span class="title">{{ group.name }}</span>
        </li>
        <hr>
      {% endfor %}
    </ul>
  </div>
  <div style="height: 100px;"></div>
{% endblock %}
