{% extends "base.html" %}

{% block content %}
    <div>
        <div class="login-page">
            {% if validlink %}
                <h2>Informe sua nova senha</h2>
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div>
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <div>
                            <button class="link" type="submit">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}