{% extends "base.html" %}
{% load fontawesome_5 %}

{% block content %}
  <div class="news-form">
    <center><h1>Criação de pool</h1></center>
    <p> <a class="back-link" href="{% url 'pool_list' %}">{% fa5_icon 'chevron-left' 'fas' %} Voltar</a> </p>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <div>
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
          <br>
        {% endfor %}
        <div>
          <button class="link" type="submit">Criar</button>
      </form>
  </div>
  <div class="endPage"></div>
{% endblock %}