{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@8.2.2/dist/assets/diagram-js.css" />
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@8.2.2/dist/assets/bpmn-font/css/bpmn.css" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<br><br><br>
<section id="app" class="container-fluid">

    <div class="row">
        <div class="col">
            <h1>Modelagem de processo</h1>
            <button id="js-create-diagram" type="button" class="btn btn-secondary">Abrir novo</button>
            <button id="js-download-diagram" type="button" class="btn btn-success mybtn">Salvar</button>
            <button id="js-download-svg" type="button" class="btn btn-success mybtn">Salvar Imagem</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="canvas"  style="height: 600px;" @click="diagramEvent"></div>
        </div>
        <div class="col-3">
          <h3>Sugestões: [[author]]</h3>
          <ul v-for="suggestion in suggestions" :key="suggestion">
            <li><a href="#">[[suggestion]]</a></li>
          </ul>
        </div>
    </div>
</section>
    
<script src="https://unpkg.com/bpmn-js@8.2.2/dist/bpmn-modeler.development.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script>

const diagram = {
  PARTICIPANT: "Participant", //pool
  COLLABORATION: "Collaboration", //all
  LANE: "Lane",
  FLOW: "Flow",
  ACTIVITY: "Activity",
  EVENT: "Event"
}

var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    debug:null,
    author: '',
    diagramXML: `<?xml version="1.0" encoding="UTF-8"?>
      <bpmn:definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bpmn="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" xmlns:dc="http://www.omg.org/spec/DD/20100524/DC" targetNamespace="http://bpmn.io/schema/bpmn" id="Definitions_1">
        <bpmn:process id="Process_1" isExecutable="false">
          <bpmn:startEvent id="StartEvent_1"/>
        </bpmn:process>
        <bpmndi:BPMNDiagram id="BPMNDiagram_1">
          <bpmndi:BPMNPlane id="BPMNPlane_1" bpmnElement="Process_1">
            <bpmndi:BPMNShape id="_BPMNShape_StartEvent_2" bpmnElement="StartEvent_1">
              <dc:Bounds height="36.0" width="36.0" x="173.0" y="102.0"/>
            </bpmndi:BPMNShape>
          </bpmndi:BPMNPlane>
        </bpmndi:BPMNDiagram>
      </bpmn:definitions>`,
    container: null,
    modeler: null,
    diagramElementsDefault:{
      Participant: [],
      Collaboration: [],
      Lane: [],
      Flow: [],
      Activity: [],
      Event: []
    },


    suggest:{
      reporter:[
        'produz matéria',
        'reescreve matéria'
      ],
      editor:[
        'designa reporter',
        'revisa matéria',
        'publica matéria',
        'recebe pauta'
      ],
      'chefe de reportagem':[
        'distribui pauta',
        'aprova matéria'
      ],
      'secretario de redacao':[
        'distribui pauta',
        'define pauta',
      ],
    }
  },
  computed:{
    suggestions(){
      return this.suggest[this.author]
    },
    diagramElements(){
      let elements = document.body.querySelectorAll('[data-element-id]')
      // let diagramElements = Object.assign({}, this.diagramElementsDefault)
      let diagramElements = JSON.parse(JSON.stringify(this.diagramElementsDefault))
      for (let element of elements)
      {
          let keyValue =  element.getAttribute('data-element-id').split('_')
          console.log(keyValue)
          const diagramType = keyValue[0]
          const diagramId = keyValue[1]
          let x, y
          switch (diagramType) {
            case diagram.PARTICIPANT:
              diagramElements[diagram.PARTICIPANT].push({id:diagramId, name:''})
              break
            case diagram.LANE:
              let name = element.querySelector('tspan').innerHTML
              x = element.transform.baseVal[0].matrix.e
              y = element.transform.baseVal[0].matrix.f
              diagramElements[diagram.LANE].push({id:diagramId, author:name, x, y})
              break
            case diagram.COLLABORATION:
            case diagram.FLOW:
              // x = element.transform.baseVal[0].matrix.e
              // y = element.transform.baseVal[0].matrix.f
              diagramElements[diagramType].push({id:diagramId})
              break
            default: // Event, flow, Activity
              let description = element.querySelector('tspan')
              if(description)description=description.innerHTML
              x = element.transform.baseVal[0].matrix.e
              y = element.transform.baseVal[0].matrix.f
              diagramElements[diagramType].push({id:diagramId, description, x, y})
              break
          }
      }
      return diagramElements
    },


  },
  mounted(){
    this.container = $('#canvas')
    this.modeler = $('#canvas')
    this.modeler = new BpmnJS({
      container: '#canvas'
    });
    this.createNewDiagram()
    this.setupDragDrop()
  },
  methods:{
    diagramEvent(element){
      // entry bpmn-icon-task: caixinha pop up da task pra append nexttask
      // djs-direct-editing-content: menu lateral
      if(element.target.className === "entry bpmn-icon-task" || element.target.className === "djs-direct-editing-content")
      {
        console.log({element})
        this.debug= element
        // axios.post('/ontology-suggestion', {role: 'reporter'}).then(response => {
        //   app.suggestions = response.data.suggestions
        // }).catch( err => {
        //   console.error({err})
        // })
        let items = ['reporter', 'editor', 'secretario de redacao', 'chefe de reportagem']
        this.author =  items[Math.floor(Math.random() * items.length)]
      }
    },
    createNewDiagram(){
      this.openDiagram(this.diagramXML)
    },

    async openDiagram(xml){
      try {
        await this.modeler.importXML(xml);
        this.container
          .removeClass('with-error')
          .addClass('with-diagram');
      } catch (err) {

        this.container
          .removeClass('with-diagram')
          .addClass('with-error');
        this.container.find('.error pre').text(err.message);

        console.error(err);
      }
    },

    async saveXML(){
      try {
        const diagram = {xml: null, svg: null}
        diagram.xml = await modeler.saveXML({ format: true });
        diagram.svg = await modeler.saveSVG();
        setEncoded($('#js-download-diagram'), 'diagram.bpmn', xml);
        setEncoded($('#js-download-svg'), 'diagram.svg', svg);
        axios.post('/', diagram).then(response => {

        }).catch(err=>{
          console.log({err})
        })
      } catch (err) {
        console.error('Error happened saving diagram: ', err);
      }
    },

    setEncoded(link, name, data) {
      let encodedData = encodeURIComponent(data);
      if (data) {
        link.addClass('active').attr({
          'href': 'data:application/bpmn20-xml;charset=UTF-8,' + encodedData,
          'download': name
        });
      } else {
        link.removeClass('active');
      }
    },
    registerFileDrop() {

      function handleFileSelect(e) {
        e.stopPropagation();
        e.preventDefault();

        var files = e.dataTransfer.files;

        var file = files[0];

        var reader = new FileReader();

        reader.onload = function(e) {

          var xml = e.target.result;

          this.openDiagram(xml);
        };

        reader.readAsText(file);
      }

      function handleDragOver(e) {
        e.stopPropagation()
        e.preventDefault()

        e.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
      }

      this.container.get(0).addEventListener('dragover', handleDragOver, false);
      this.container.get(0).addEventListener('drop', handleFileSelect, false);
    },
    setupDragDrop(){
      if (!window.FileList || !window.FileReader) {
        window.alert(
          'Looks like you use an older browser that does not support drag and drop. ' +
          'Try using Chrome, Firefox or the Internet Explorer > 10.');
      } else {
        this.registerFileDrop();
      }
    },
  } //methods

}) //app


</script>
{% endblock %}